<!DOCTYPE html>
<html lang="sr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jar Vidin PLTD - Prodavnica računara i softverska kompanija.">
    <link rel="stylesheet" href="/view/Style/mainStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="/view/Images/jarLogo.png">
    <title>&#x2022; Жар Видин</title>
</head>

<body>
    <header class="header">
        <a href="home.html" class="logo" aria-label="Početna stranica"><img src="/view/Images/jarLogo.png"
                alt="Jar Logo" style="width: 100px"></a>
        <nav class="navbar" aria-label="Glavna navigacija">
            <a href="#home">Početna</a>
            <a href="#about">O nama</a>
            <a href="#team">Tim</a>
            <a href="#contact">Kontakt</a>
        </nav>
        <div class="language-selector">
            <select id="language-select" aria-label="Select language" onchange="switchLanguage(this)">
                <option value="bg">Bulgarian</option> <!-- Default language is Bulgarian -->
                <option value="ro">Romanian</option>
                <option value="srb" selected>Serbian</option>
                <option value="en">English</option>
            </select>
        </div>
    </header>

    <button id="backToTop" class="back-to-top" aria-label="Vrati se na vrh" onclick="scrollToTop()">
        <i class='bx bxs-arrow-to-top'></i>
    </button>

    <!-- Home Section -->
    <section id="home" class="home" aria-labelledby="home-title">
        <div class="home-content">
            <h1 id="home-title">Dobrodošli u Жар Видин!</h1>
            <h3>Prodavnica računara</h3>
            <p>
                Жар Видин ЕООД je vaš pouzdani partner u kupovini kao što su "Računari, štampači, potrošni materijal za
                štampače".
            </p>
            <div class="btn-box">
                <a href="#contact">Kontakt</a>
            </div>
        </div>
        <div class="home-sci">
            <a href="https://www.instagram.com/jarcomputers_vidin" target="_blank" rel="noopener noreferrer"
                aria-label="Instagram"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.linkedin.com/in/victordimitrovpetrov/" target="_blank" rel="noopener noreferrer"
                aria-label="LinkedIn - Victor Petrov"><i class='bx bxl-linkedin'></i></a>
            <a href="https://www.linkedin.com/in/slaveyko-stefanov-623348108/" target="_blank" rel="noopener noreferrer"
                aria-label="LinkedIn - Slaveyko Stefanov"><i class='bx bxl-linkedin'></i></a>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about" aria-labelledby="about-title">
        <h2 id="about-title">O nama</h2>
        <p>
            Жар Видин ЕООД je etablirana kompanija i lider u regionu, specijalizovana za pružanje visokokvalitetnih
            proizvoda i usluga u oblasti informacionih tehnologija. <br> <br>
            Sa timom iskusnih profesionalaca i dugogodišnjim prisustvom na tržištu, težimo da odgovorimo na potrebe
            svakog klijenta sa individualnim pristupom i pažnjom prema detaljima. <br> <br>

            <b>Naše osnovne delatnosti uključuju: </b> <br> <br>
        </p>

        <ul class="custom-list">
            <li>Prodaja i servis računara i štampača</li>
            <li>Isporuka potrošnog materijala za štampače</li>
            <li>Razvoj softvera prilagođenog potrebama klijenta</li>
        </ul>

        <br>

        <p>
            Naša misija je da pružimo rešenja sa visokom dodatom vrednošću, zasnovana na kvalitetu, korektnosti i
            inovacijama.
        </p>
    </section>

    <!-- Team Section -->
    <section id="team" class="team" aria-labelledby="team-title">
        <h2 id="team-title">Tim</h2>
        <div class="team-cards">
            <div class="team-card">
                <img src="/view/Images/sstefanov.png"
                    style="width: 90px; height: auto; border-radius: 12px; margin-top: -20px;">
                <br> <br>
                <h3>Slaveyko Stefanov</h3>
                <br>
                <p>Vlasnik, Menadžer</p>
                <br> <br> <br>
                <a href="https://www.linkedin.com/in/slaveyko-stefanov-623348108/" target="_blank"
                    rel="noopener noreferrer" class="linkBtn" aria-label="Visit Victor's website">LinkedIn</a>
            </div>
            <div class="team-card">
                <img src="/view/Images/vpetrov.png"
                    style="width: 90px; height: auto; border-radius: 12px; margin-top: -20px;">
                <br> <br>
                <h3>Viktor Petrov</h3>
                <br>
                <p>Računarski operater, programer</p>
                <a href="https://victorpetrov.vercel.app" target="_blank" rel="noopener noreferrer" class="linkBtn"
                    aria-label="Posetite Viktorov sajt">Viktorov sajt</a>
                <a href="https://www.linkedin.com/in/victordimitrovpetrov/" target="_blank" rel="noopener noreferrer"
                    class="linkBtn" aria-label="Visit Victor's website">LinkedIn</a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact" aria-labelledby="contact-title">
        <h2 id="contact-title">Povežite se sa nama!</h2>
        <p>Imate pitanja ili želite da diskutujemo o potencijalnom projektu?<br> Povežite se sa nama i dozvolite nam
            da pretvorimo vaše ideje u stvarnost!</p>
        <a href="mailto:vidin@jarcomputers.com" class="linkBtn email" aria-label="Pošaljite nam e-mail">Pošaljite nam
            E-mail</a>
        <a href="https://jarcomputers.com" target="_blank" rel="noopener noreferrer" class="linkBtn email"
            aria-label="Posetite sajt Jar Computers">Sajt Jar Computers</a>
    </section>

    <footer class="footer">
        <p>&copy; 2024, Jar Vidin PLTD. Sva prava zadržana.</p>
    </footer>

    <script src="/controller/backToTop.js"></script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Jar Vidin PLTD.",
            "jobTitle": "Prodavnica računara, Softver",
            "url": "https://info.jarvidin.com",
            "sameAs": [
                "https://www.instagram.com/victordpetrov/",
                "https://github.com/VictorDPetrov",
                "https://www.linkedin.com/in/victordimitrovpetrov/"
            ],
            "worksFor": {
                "@type": "Organization",
                "name": "Jar Vidin PLTD."
            }
        }
    </script>

    <script>
        // Function to handle the language change
        function switchLanguage(selectElement) {
            const selectedLanguage = selectElement.value; // Get the selected language
            if (selectedLanguage === 'bg') {
                window.location.href = '/home.html';  // Default to the root (Bulgarian)
            } else {
                window.location.href = `/view/${selectedLanguage}/home.html`;  // Redirect to the corresponding language folder
            }
        }
    </script>
</body>

</html>