<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jar Vidin PLTD - Computer Store & Software Company.">
    <link rel="stylesheet" href="/view/Style/mainStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="/view/Images/jarLogo.png">
    <title>&#x2022; Jar Vidin</title>
</head>

<body>
    <header class="header">
        <a href="home.html" class="logo" aria-label="Home Page"><img src="/view/Images/jarLogo.png" alt="Jar Logo"
                style="width: 100px"></a>
        <nav class="navbar" aria-label="Main navigation">
            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#services">Web Services</a>
            <a href="#team">Team</a>
            <a href="#contact">Contact</a>
        </nav>
        <div class="language-selector">
            <select id="language-select" aria-label="Select language" onchange="switchLanguage(this)">
                <option value="bg">Bulgarian</option> <!-- Default language is Bulgarian -->
                <option value="ro">Romanian</option>
                <option value="srb">Serbian</option>
                <option value="en" selected>English</option>
            </select>
        </div>
    </header>

    <button id="backToTop" class="back-to-top" aria-label="Scroll to top" onclick="scrollToTop()">
        <i class='bx bxs-arrow-to-top'></i>
    </button>

    <!-- Home Section -->
    <section id="home" class="home" aria-labelledby="home-title">
        <div class="home-content">
            <h1 id="home-title">Welcome to Jar Vidin!</h1>
            <h3>Computer Store</h3>
            <p>
                Jar Vidin LLC is your trusted friend in making purchases, such as "Computers, Printers, Printer
                Consumables".
            </p>
            <div class="btn-box">
                <a href="#contact">Contact</a>
            </div>
        </div>
        <div class="home-sci">
            <a href="https://www.instagram.com/jarcomputers_vidin" target="_blank" rel="noopener noreferrer"
                aria-label="Instagram"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.linkedin.com/in/victordimitrovpetrov/" target="_blank" rel="noopener noreferrer"
                aria-label="LinkedIn - Victor Petrov"><i class='bx bxl-linkedin'></i></a>
            <a href="https://www.linkedin.com/in/slaveyko-stefanov-623348108/" target="_blank" rel="noopener noreferrer"
                aria-label="LinkedIn - Slaveyko Stefanov"><i class='bx bxl-linkedin'></i></a>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about" aria-labelledby="about-title">
        <h2 id="about-title">About Us</h2>
        <p>
            Jar Vidin LLC is an established company and a leader in the region, specializing in providing high-quality
            products and services in the field of information technology. <br> <br>
            With a team of experienced professionals and years of presence in the market, we strive to meet the needs of
            every customer with a personalized approach and attention to detail. <br> <br>

            <b>Our main activities include:</b> <br> <br>
        </p>

        <ul class="custom-list">
            <li>Computer and printer sales and service</li>
            <li>Printer consumables supply</li>
            <li>Custom software development</li>
        </ul>

        <br>

        <p>
            Our mission is to provide high-value solutions based on quality, integrity, and innovation.
        </p>
        </p>
    </section>

    <section id="services" class="services" aria-labelledby="services-title">
        <div class="services-container">
            <h2 id="services-title">Website Development</h2>
            <p class="services-description">
                At Jar Vidin Ltd., we offer professional services for creating modern, functional, and adaptive websites 
                tailored to the unique needs of your business. We combine creativity and technology to deliver an online presence that impresses.
            </p>
            <div class="services-features">
                <div class="feature">
                    <h3>🎨 Design</h3>
                    <p>Custom designs tailored to your brand identity.</p>
                </div>
                <div class="feature">
                    <h3>💻 Development</h3>
                    <p>Building functional and fast websites using the latest technologies.</p>
                </div>
                <div class="feature">
                    <h3>🔍 SEO Optimization</h3>
                    <p>Optimized websites that are easily discoverable in search engines.</p>
                </div>
                <div class="feature">
                    <h3>📱 Mobile Compatibility</h3>
                    <p>Websites that look and work great on any device.</p>
                </div>
            </div>
            <p class="services-call-to-action">
                Contact us to discuss how we can help your business grow online!
            </p>
        </div>
    </section>
    

    <!-- Team Section -->
    <section id="team" class="team" aria-labelledby="team-title">
        <h2 id="team-title">Team</h2>
        <div class="team-cards">
            <div class="team-card">
                <img src="/view/Images/sstefanov.png" style="width: 90px; height: auto; border-radius: 12px; margin-top: -20px;">
                <br> <br>
                <h3>Slaveyko Stefanov</h3>
                <br>
                <p>Owner, Manager</p>
                <br> <br> <br>
                <a href="https://www.linkedin.com/in/slaveyko-stefanov-623348108/" target="_blank"
                    rel="noopener noreferrer" class="linkBtn" aria-label="Visit Victor's website">LinkedIn</a>
            </div>
            <div class="team-card">
                <img src="/view/Images/vpetrov.png" style="width: 90px; height: auto; border-radius: 12px; margin-top: -20px;">
                <br> <br>
                <h3>Victor Petrov</h3>
                <br>
                <p>Computer Operator, Programmer</p>
                <a href="https://victorpetrov.vercel.app" target="_blank" rel="noopener noreferrer" class="linkBtn"
                    aria-label="Visit Victor's website">Victor's Website</a>
                <a href="https://www.linkedin.com/in/victordimitrovpetrov/" target="_blank" rel="noopener noreferrer"
                    class="linkBtn" aria-label="Visit Victor's website">LinkedIn</a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact" aria-labelledby="contact-title">
        <h2 id="contact-title">Get in Touch!</h2>
        <p>If you have any questions or would like to discuss a potential project, <br> get in touch with us and let us
            turn your ideas into reality!</p>
        <a href="mailto:vidin@jarcomputers.com" class="linkBtn email" aria-label="Send us an email">Send us an Email</a>
        <a href="https://jarcomputers.com" target="_blank" rel="noopener noreferrer" class="linkBtn email"
            aria-label="Visit Jar Computers's website">Jar Computers Website</a>
    </section>

    <footer class="footer">
        <p>&copy; 2024, Jar Vidin PLTD. All rights reserved.</p>
    </footer>

    <script src="/controller/backToTop.js"></script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Jar Vidin PLTD.",
            "jobTitle": "Computer Store, Software",
            "url": "https://info.jarvidin.com",
            "sameAs": [
                "https://www.instagram.com/victordpetrov/",
                "https://github.com/VictorDPetrov",
                "https://www.linkedin.com/in/victordimitrovpetrov/"
            ],
            "worksFor": {
                "@type": "Organization",
                "name": "Jar Vidin PLTD."
            }
        }
    </script>

    <script>
        // Function to handle the language change
        function switchLanguage(selectElement) {
            const selectedLanguage = selectElement.value; // Get the selected language
            if (selectedLanguage === 'bg') {
                window.location.href = '/home.html';  // Default to the root (Bulgarian)
            } else {
                window.location.href = `/view/${selectedLanguage}/home.html`;  // Redirect to the corresponding language folder
            }
        }
    </script>
</body>

</html>